name: Tests

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    name: pnpm run test (${{ matrix.os }})
    runs-on: ${{ matrix.os }}

    strategy:
      # Don't cancel other matrix operations if one fails
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - windows-latest

    steps:
      - uses: actions/checkout@v5
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v6
        with:
          node-version: 20
          cache: "pnpm"
      - uses: oven-sh/setup-bun@v2

      - run: pnpm install
      - run: pnpm exec playwright install chromium
      - run: pnpm run build
      - run: pnpm run build:examples
      - run: pnpm run test
